<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewRelicInsightsApiKey" value="YOUR_API_KEY_HERE"/>
    <add key="NewRelicInsightsAccountNumber" value="YOUR_ACCOUNT_NUMBER_HERE"/>
    <add key="NewRelicInsightsBaseUrl" value="https://insights-collector.newrelic.com/v1/accounts/" />
    <add key="NewRelicInsightsEventsPath" value="/events" />

  </appSettings>
</configuration>